backend_clustering_mode = 'raw'
port = 5432
backend_hostname0 = {{ hostvars[groups['postgresServers'][0]].inventory_hostname }}
backend_port0 = 5432
backend_flag0 = 'DISALLOW_TO_FAILOVER'

num_init_children = 32
max_pool=8
reserved_connections=1

#Controls which minimum message levels are emitted to log. Valid values are DEBUG5, DEBUG4, DEBUG3, DEBUG2, DEBUG1, INFO, NOTICE, WARNING, ERROR, LOG, FATAL, and PANIC.
log_min_message=INFO

#Enables the logging collector, which is a background process that captures log messages sent to stderr and redirects them into log files..
logging_collector = on

#determines the directory in which log files will be created..
log_directory = '/var/log/pgpool'

#log_filename = 'pgpool-%Y-%m-%d.log'
log_filename = 'pgpool.log'
log_truncate_on_rotation = off
log_rotation_age = 1d

#Prints all SQL statements to the log separately for each DB node. It can be useful to make sure that replication or load-balancing is working..
#log_per_node_statement = on

