# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[storage]

nginx_lookup_server_full_path_urls = https://{{ hostvars[groups['applicationServers'][0]].inventory_hostname }}:7072