---
  - name: Manage Videoserver password
    ansible.builtin.set_fact:
       carbonio_videoserver_password: "{{ lookup('ansible.builtin.password', inventory_file + '_videoserver_password', chars=['ascii_letters', 'digits'], length=8) }}"
    when: inventory_hostname in groups["videoServers"]
    tags:
      - carbonio-videoserver-config
      
  - name: Create config file
    template:
      src: janus.jcfg.j2
      dest: /etc/janus/janus.jcfg
    notify: restart_videoserver
    when: inventory_hostname in groups["videoServers"]
    tags:
      - carbonio-videoserver-config