ldap_amavis_password={{ carbonio_ldap_password }}
ldap_nginx_password={{ carbonio_ldap_password }}
ldap_replication_password={{ carbonio_ldap_password }}
ldap_root_password={{ carbonio_ldap_password }}
LDAPADMINPASS={{ carbonio_ldap_password }}
LDAPAMAVISPASS={{ carbonio_ldap_password }}
LDAPAMAVISPW={{ carbonio_ldap_password }}
LDAPNGINXPW={{ carbonio_ldap_password }}
LDAPPOSTPASS={{ carbonio_ldap_password }}
LDAPPOSTPW={{ carbonio_ldap_password }}
LDAPREPPASS={{ carbonio_ldap_password }}
LDAPREPPW={{ carbonio_ldap_password }}
LDAPROOTPASS={{ carbonio_ldap_password }}
LDAPROOTPW={{ carbonio_ldap_password }}
LDAPZIMBRAPW={{ carbonio_ldap_password }}
zimbra_ldap_password={{ carbonio_ldap_password }}
HOSTNAME={{ ansible_fqdn }}
LDAPHOST={{ hostvars[groups['masterDirectoryServers'][0]].inventory_hostname }}
ldap_host={{ hostvars[groups['masterDirectoryServers'][0]].inventory_hostname }}