---
  - name: Install Carbonio Files Ubuntu
    become: true
    apt: name={{ item }} state=present
    with_items:
      - "{{ files_packages }}"
    when: ansible_os_family == "Debian"  and inventory_hostname in groups["filesServers"] 
    tags:
      - install-carbonio-files
      
  - name: Install Carbonio Files RHEL
    become: true
    yum: name={{ item }} state=present
    with_items:
      - "{{ files_packages }}"
    when: (ansible_os_family == "RedHat" or ansible_os_family == "CentOS") and inventory_hostname in groups["filesServers"] 
    tags:
      - install-carbonio-files

    
     