ldap_amavis_password={{ carbonio_ldap_password }}
ldap_nginx_password={{ carbonio_ldap_password }}
ldap_replication_password={{ carbonio_ldap_password }}
ldap_root_password={{ carbonio_ldap_password }}
LDAPADMINPASS={{ carbonio_ldap_password }}
LDAPAMAVISPASS={{ carbonio_ldap_password }}
LDAPAMAVISPW={{ carbonio_ldap_password }}
LDAPNGINXPW={{ carbonio_ldap_password }}
LDAPPOSTPASS={{ carbonio_ldap_password }}
LDAPPOSTPW={{ carbonio_ldap_password }}
LDAPREPPASS={{ carbonio_ldap_password }}
LDAPREPPW={{ carbonio_ldap_password }}
LDAPROOTPASS={{ carbonio_ldap_password }}
LDAPROOTPW={{ carbonio_ldap_password }}
LDAPZIMBRAPW={{ carbonio_ldap_password }}
zimbra_ldap_password={{ carbonio_ldap_password }}
HOSTNAME={{ ansible_fqdn }}
LDAPHOST={{ hostvars[groups['masterDirectoryServers'][0]].inventory_hostname }}
ldap_host={{ hostvars[groups['masterDirectoryServers'][0]].inventory_hostname }}
{% if default_domain is defined and default_domain | length > 0 %}
CREATEDOMAIN={{ default_domain }}
DOCREATEDOMAIN=yes
CREATEADMIN=zextras@{{ default_domain }}
AVUSER=zextras@{{ default_domain }}
AVDOMAIN={{ default_domain }}
SMTPSOURCE=zextras@{{ default_domain }}
SMTPDEST=zextras@{{ default_domain }}
TRAINSASPAM=spam.{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=10') }}@{{ default_domain }}
TRAINSAHAM=ham.{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=10') }}@{{ default_domain }}
VIRUSQUARANTINE=virus-quarantine.{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=10') }}@{{ default_domain }}
{% endif %}