# SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: GPL-3.0-only

---
  - name: Configure nat_1_1_mapping on janus.jcfg
    lineinfile:
      path: /etc/janus/janus.jcfg
      regexp: '^\s*nat_1_1_mapping\s*='
      line: '        nat_1_1_mapping = "{{ hostvars[inventory_hostname].public_ip_address }}"'
    notify: restart_videoserver
    when: inventory_hostname in groups["videoServers"]
    tags:
      - carbonio-videoserver-config