# SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: GPL-3.0-only

---
  - name: Add and enable service-discover service
    become: true
    become_method: su
    become_user: zextras
    command: '/opt/zextras/bin/carbonio prov -l ms {{ ansible_fqdn }} +zimbraServiceInstalled service-discover +zimbraServiceEnabled service-discover'
    when: inventory_hostname in groups["serviceDiscoverServers"]
    tags:
      - fix-config  

  - name: Add TrustedIp
    become: true
    become_method: su
    become_user: zextras
    command: '/opt/zextras/bin/carbonio prov mcf +zimbraMailTrustedIP {{ansible_default_ipv4.address}}'
    when: inventory_hostname in groups["proxyServers"]
    tags:
      - fix-config   

  - name: Set smtp hostname for MTA servers
    become: true
    become_method: su
    become_user: zextras
    command: '/opt/zextras/bin/carbonio prov ms {{ ansible_fqdn }} zimbraSmtpHostname localhost zimbraSmtpPort 25'
    when: inventory_hostname in groups["mtaServers"]
    tags:
      - fix-config    
      
  - name: Configure public service hostname
    become: true
    become_method: su
    become_user: zextras
    command: "/opt/zextras/bin/carbonio prov mcf zimbraPublicServiceHostname {{ hostvars[inventory_hostname].webmailHostname }}"
    when: inventory_hostname in groups["proxyServers"] and hostvars[inventory_hostname].webmailHostname is defined
    tags:
      - fix-config