# SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: GPL-3.0-only

---
# handlers file for execute-final-setups
    - name: restart_preview
      service:
        name: carbonio-preview.service
        state: restarted

    - name: restart_videoserver
      service:
        name: carbonio-videoserver.service
        state: restarted

    - name: restart_postgres-rhel
      service: name={{ postgresql_service_name }} state=restarted